
<%= turbo_frame_tag(game_tile,
  class: "hive game-tile #{game_tile.first_offset? ? 'gallery-offset-first' : ''}"
) do
%>
    <div class="hex outer-hex">
      <div class="hex-in1">
        <div class="hex-in2 outer-hex">
          <div  class="hex inner-hex">
            <div class="hex-in1">
              <div style="background-color: #777" class="hex-in2 hex-area">
                <p><%= render(game_tile.game_piece) unless game_tile.empty? %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
