<div class="game-piece-person <%= player.facing_right? ? "facing-right" : "facing-left"%>" id='<%= dom_id(player)%>'>
    <div class="sprite" style="background-image: url('<%= asset_path(player.representation_image) %>')" ></div>
</div>