<section>
  <div class="container px-6 py-12 h-full">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="w-full"
          alt="Phone image"
        />
      </div>
      <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
        <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">Sign Up</h2>
        <%= render "form", registration: resource, resource_name: resource_name %>
      </div>
    </div>
  </div>
</section>
